<div class="pt-5 flex justify-center gap-5 text-l text-pink-900">
    <a href="#"><%= link_to( 'Tasks', category_tasks_path) %></a>
    <p class=""><%= link_to( 'New Task', new_category_task_path) %></p>
</div>