<div class="pt-5 flex justify-center gap-5 text-xl text-pink-900">
    <a href="#"><%= link_to( 'Categories', categories_path) %></a>
    <p class=""><%= link_to( 'New Category', new_category_path) %></p>
</div>