<div class="flex h-screen pt-16 overflow-hidden ">
    <%= render "home/sidebar"%> 
<div id="main-content" class="relative w-full h-full overflow-y-auto lg:ml-64 dark:bg-gray-900">
    <main>
        <!--Table(Categories)-->
        <div class="px-4 pt-6">
            <div class="p-4">
                <div class="mb-4 lg:mb-0 ">
                    <%= render "nav"%>
                </div>
                <div class="flex flex-col mt-6">
                    <div class="overflow-x-auto rounded-lg">
                        <div class="inline-block min-w-full align-middle">
                            <div class="overflow-hidden shadow sm:rounded-lg">
                                <%= render "table"%>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
</div>
